<!DOCTYPE html>
<html lang="en">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="aqua.css" type="text/css" />
  <head>
    <title>Remote assistant</title>
  </head>
  <body>
    <header>
      <nav>
        <span>Aquaportal</span>
        <a href="index.html">ESP32</a>
        <a href="dwin_portal.html">DWIN</a>
        <button id="exit" onclick="serverExit()">Quit</button>
      </nav>
    </header>
    <div class="content" id="aquarium"></div>
    <script src="script.js"></script>
    <script src="aqua.js"></script>
    <footer>2023</footer>
  </body>
</html>
