table {
    padding: 0;
    margin-bottom: 2rem;
    text-align: start;
}

th:first-child,
td:first-child {
    padding: 0.5rem;
}

td:hover:nth-last-child(1) {
    background-color: #266ae8;
    color: #fff;
}

#cur_picture {
    width: 60%;
    max-width: 60vw;
}