div {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    width: min-content;
    flex-wrap: wrap;
}


#settings_forms {
    margin-top: -2rem;
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.setting_page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 3rem 0;
    justify-content: center;
    font-size: larger;
    flex-wrap: wrap;
}

input[type="text"] {
    display: block;
    min-width: 30rem;
}